<div class = "container-fluid">
    <img src="/assets/img/burger.jpg" id="mainBurger">
    <h2>Eat-da-Burger!</h2>
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{#each burgers}}
                {{#unless devoured}}
                <uL>
                    <p class="burgersToEat">{{id}}. {{burger_name}}</p> 
                    <button class="devour" data-id="{{id}}" data-newsleep="{{devoured}}">Devour it!</button>
                </uL>
                {{/unless}}
                {{/each}}
            </div>
            <div class="col-6">
                {{#each burgers}}
                {{#if devoured}}
                <div class="burgersAte">{{id}}. {{burger_name}}
                <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
                    </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>  

    <form class="create-form">
        <textarea rows="4" cols="50" name="comment" form="usrform" id="burgerText" placeholder="Enter a burger">
        </textarea>
        <br>
        <input type="submit">
    </form>
    <p>Enter a burger you want to eat! Click the submit button to add the burger</p>

</div>